


#about {
	text-align: center;
}

#footer {
	background-color: #2b2b2b;
	text-align: center;
}

h2, h3 {
	color: black;
}

#musicStore {
	background-color: #e1e1e1;
}

#musicStoreTitle {
	position: relative;
	left: 5%;
}

#title h1 {
	text-align: center;
	color: #d31414;
}

h1 {
	/*color: #d31414;*/
	/*color: #006fbc;*/
	color: #03538b;
	/*color: #1784d1;*/
	/*color: #2c76ca;*/
}

#navBar {
	position: fixed;
	}

#column2 {
	position: relative;
	float: right;
	width: 55%;
	right: 0;
}

#column1 {
	position: relative;
	float: left;
	width: 35%;
	top: 0;
	left: 4.5%;
}

#workedOn {
	text-align: center;
}

#contact {
	text-align: center;
	background-color: #e1e1e1;
}

#projects {
	background-color: #d3eaf6;

}



