#about {
		background-color: #e1e1e1;
		text-align: center;
		width: 100%;
	}

	#footer {
		background-color: #e1e1e1;
		text-align: center;
	}

	h2, h3 {
		color: black;
	}

	#musicStore {
		text-align: center;
		background-color: #c0c0c0;
	}

	#title h1 {
		text-align: center;
		color: #d31414;
	}

	h1 {
		color: #d31414;
	}

	#title {
		background-color: #2b2b2b;
	}

	#navBar {
		position: absolute;
	}

	#column2 {
		position: relative;
		float: right;
		width: 35%;
		top: 0;
	}