


#about {
	text-align: center;
}

#footer {
	background-color: #141414;
	text-align: center;
}

h2, h3 {
	color: black;
}


#musicStoreTitle {
	position: relative;
	left: 5%;
}

#title h1 {
	text-align: center;
	color: #d31414;
}

h1 {
	/*color: #d31414;*/
	/*color: #006fbc;*/
	color: #03538b;
	/*color: #1784d1;*/
	/*color: #2c76ca;*/
}


#column2 {
	position: relative;
	float: right;
	width: 45%;
	padding-top: 1%;
	padding-right: 7.5%;
}

#column1 {
	position: relative;
	float: left;
	width: 35%;
	padding-top: 2.5%;
	padding-left: 7.5%;
}

#myWork {
	text-align: center;
	background-color: #0a0a0a;
}

#contact {
	text-align: center;
	background-color: #738d99;
}

#projects {
	background-color: #d3eaf6;

}

#projectsRow {
	border: 2px solid black;
}

.navbar-fixed-top {
	margin-left: 41%;
}


