<div id="musicStore">
	<div class="row"> 
		<div class="col-sm-4" id="column2"><img ng-src="images/orderForm.png" alt="musicStore"></div>
			<div class="col-sm-4" id="column1">This Music Store Project uses mostly Angular and Jquery to allow users to register, login, and add items to their cart. The users can also check out items, and can proceed through an order process. The main tools used were data binding, filtering, services, factories, controllers and jQuery animations
			</div>
		</div>
	</div>
</div>

