
body {
	margin-left: 1%;
	margin-right: 1%;
}

h2, h3 {
	color: black;
}

#title h1 {
	text-align: center;
	color: #d31414;
}

#column2 {
	position: relative;
	float: right;
	width: 45%;
	padding-top: 1%;
	padding-right: 7.5%;

}

#column1 {
	position: relative;
	float: left;
	max-width: 35%;
	padding-top: 2.5%;
	padding-left: 7.5%;

}


#contact {
	text-align: center;
	margin-top: 10%;
}

.navbar-fixed-top {
	margin-left: 41%;
}

.nav-list {
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	font-size: 200%;
}

#view {
	background-color: #d7eeff;
}


