
h2, h3 {
	color: black;
}

#title h1 {
	text-align: center;
	color: #d31414;
}

#column2 {
	position: relative;
	float: right;
	width: 45%;
	padding-top: 1%;
	padding-right: 7.5%;
}

#column1 {
	position: relative;
	float: left;
	max-width: 35%;
	padding-top: 2.5%;
	padding-left: 7.5%;
}


#contact {
	text-align: center;
}

.navbar-fixed-top {
	margin-left: 41%;
}


